<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hero Details</title>
</head>
<body>
     <h1>Super Hero Details</h1>
    <ul>
      <li><h1>Name:</h1><h2>{{single_hero.name}}</h2></li>
      <li><h1>Alter Ego:</h1><h2>{{single_hero.alter_ego}}</h2></li>
      <li><h1>Primary Ability:</h1><h2>{{single_hero.primary_ability}}</h2></li>
      <li><h1>Secondary Ability</h1><h2>{{single_hero.secondary_ability}}</h2></li>
      <li><h1>Catch Phrase</h1><h2>{{single_hero.catch_phrase}}</h2></li>
    </ul>
</body>
</html>